# lib Cowrie-data
cowrie/cowrie-data/lib/cowrie/ssh_*
cowrie/cowrie-data/lib/cowrie/downloads/*
!cowrie/cowrie-data/lib/cowrie/downloads/.gitkeep
cowrie/cowrie-data/lib/cowrie/tty/*
!cowrie/cowrie-data/lib/cowrie/tty/.gitkeep

# log Cowrie-data
cowrie/cowrie-data/log/cowrie/*
!cowrie/cowrie-data/log/cowrie/.gitkeep

#files
exfiltrated_passwd_telnet.txt
top-passwords-shortlist.txt
top-usernames-shortlist.txt